@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Playwrite+IT+Moderna:wght@100..400&family=Playwrite+VN:wght@100..400&family=Roboto+Flex:opsz,slnt,wdth,wght,GRAD,XOPQ,XTRA,YOPQ,YTAS,YTFI,YTLC,YTUC@8..144,-10..0,25..151,100..1000,-200..150,27..175,323,25..135,786,788,456,760&display=swap');

/* Layout Styles */
div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.flex-header {
    display: inherit;
    flex-direction: row;
    height: 15vh;
    width: inherit;
}

.flex-center-no-grid {
    display: flex;
    height: 72vh;
    width: inherit;
    flex-direction: row;
    justify-content: space-evenly;
}

.flex-bottom { 
    display: inherit;
    flex-direction: row;
    height: 13vh;
    width: inherit;
}

.flex-small {
    flex: 1;
}
.flex-wide {
    flex: 3;
}

.qr-holder {
  padding: min(6vh, 6vw);
  border-radius: min(5vh, 5vw);
  display: flex;
  background-color: white;
  backdrop-filter: blur(1vh);
  transition: transform 0.25s cubic-bezier(0, .5, .5, 1), opacity 0.5s cubic-bezier(0, .5, .5, 1);
  border: 2px solid white; 
}
