.qualBox {
	margin-top: 2vh;
	margin-left: 2vh;
	height: 32vh;
	width: 40vw;
	margin: 10px;
}

.star.filled {
	color: rgb(225, 194, 19);
	user-select: none;
}

.boxHeader {
	margin: 0px;
	font-size:1.85vw;
}